.footer {
    display: flex;
    color: #FFF;
    background: #6278F7;
    padding: 40px 0px;
    justify-content: space-around;
    align-items: center;

    p {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }

    &ul li {
        display: inline-block;
        margin-right: 32px;
    }

    &ul li:last-child {
        margin-right: 0;
    }
}